[submodule "addons/resource.uisounds.retv"]
	path = addons/resource.uisounds.retv
	url = https://ReTV-Dev@bitbucket.org/retv-kodi/resource.uisounds.retv.git
	branch = beta-master
[submodule "addons/retv.search.youtube"]
	path = addons/retv.search.youtube
	url = https://ReTV-Dev@bitbucket.org/retv-kodi/retv.search.youtube.git
	branch = beta-master
[submodule "addons/script.module.searchbase"]
	path = addons/script.module.searchbase
	url = https://ReTV-Dev@bitbucket.org/retv-kodi/script.module.searchbase.git
	branch = beta-master
[submodule "addons/script.module.youtube.dl"]
	path = addons/script.module.youtube.dl
	url = https://ReTV-Dev@bitbucket.org/retv-kodi/script.module.youtube.dl.git
	branch = beta-master
[submodule "addons/service.subtitles.retv"]
	path = addons/service.subtitles.retv
	url = https://ReTV-Dev@bitbucket.org/retv-kodi/service.subtitles.retv.git
	branch = beta-master
[submodule "addons/screensaver.retv.slideshow"]
	path = addons/screensaver.retv.slideshow
	url = https://ReTV-Dev@bitbucket.org/retv-kodi/screensaver.retv.slideshow.git
	branch = beta-master
[submodule "addons/script.retv"]
	path = addons/script.retv
	url = https://ReTV-Dev@bitbucket.org/retv-kodi/script.retv.git
	branch = beta-master
[submodule "addons/skin.retv.2"]
	path = addons/skin.retv.2
	url = https://ReTV-Dev@bitbucket.org/retv-kodi/skin.retv.2.git
	branch = beta-master
[submodule "addons/script.retv.autocompletion"]
	path = addons/script.retv.autocompletion
	url = https://ReTV-Dev@bitbucket.org/retv-kodi/script.retv.autocompletion.git
